@font-face {
  font-family: "Titillium";
  src: url(/Font/TitilliumWeb-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Titillium";
  src: url(/font/TitilliumWeb-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: "Titillium";
  src: url(/font/TitilliumWeb-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}
