$primary-color-instock-black: #13182c;
$primary-color-instock-indigo-blue: #2e66e5;
$primary-color-white: #ffffff;
$secondary-color-slate: #5c667e;
$secondary-color-cloud: #bdc5d5;
$background-graphite: #232940;
$background-grey: #f7f8f9;
$supporting-color-green: #158463;
$supporting-color-red: #c94515;

