@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.switches {
  display: flex;
  flex-direction: column;
  @include mobile-p3-body-small;
  justify-content: space-between;
  width: 100%;
  max-width: 100vw;
  max-height: 100vw;
  text-align: left;
  padding: 0.6rem;
  box-sizing: border-box;
  margin-left: 1rem;

  @include tablet {
    flex-direction: row;
    gap: 1rem;
  }

  @media print {
    flex-direction: row;
    gap: 1rem;
  }

  select {
    @include mobile-p3-body-small;
    border: 0.0625rem solid rgb($background-grey, 0.2);
    border-radius: 0.25rem;
    height: 2rem;
    text-align: center;

    &:focus {
      background-color: rgba($secondary-color-cloud, 0.3);
      border: 0.0825rem solid $primary-color-inst-burnt-orange;
      outline: none;
    }
  }

  &__first {
    border: 0.0625rem solid rgb($background-grey, 0.2);
    text-align: center;

    @include tablet {
      flex-direction: row;
    }

    @media print {
      flex-direction: row;
      gap: 1rem;
    }
  }

  &__canvas {
    width: 60vw;
    height: 60vw;
  }

  &__second {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    box-sizing: border-box;

    @include tablet {
      width: 35vw;
      flex-direction: row;
    }

    @media print {
      width: 35vw;
      flex-direction: row;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    order: 1;
    border: 0.0625rem solid rgb($background-grey, 0.2);
    padding: 0.2rem;

    &-drop {
      text-align: left;
      display: flex;
      flex-direction: column;
      margin-top: 0.4rem;
    }

    >*:last-child {
      margin-top: auto;
    }

    @include tablet {
      width: 20vw;
    }

    @media print {
      width: 20vw;
    }
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.6rem;
    gap: 0.4rem;
  }

  &__container {
    position: relative;
    display: flex;
    background-color: $primary-color-white;
    border: 0.0625rem solid $secondary-color-cloud;
    border-radius: 0.3125rem;
    overflow: hidden;
  }

  &__input {
    display: none;
  }

  &__label {
    flex: 1;
    text-align: center;
    color: $secondary-color-slate;
    cursor: pointer;
    transition: color 0.3s;

    &--active {
      color: $primary-color-white;
      z-index: 12;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: $background-grey;
    transition: transform 0.3s ease;
    color: $primary-color-white;

    &--horizontal {
      transform: translateX(0%);
    }

    &--vertical {
      transform: translateX(100%);
    }
  }

  &__left {
    order: 2;
    border: 0.0625rem solid rgb($background-grey, 0.2);
    padding: 0.1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    >*:last-child {
      margin-top: auto;
    }
  
    @include tablet {
      order: 1;
      width: 20vw;
    }
  
    @media print {
      order: 1;
      width: 20vw;
    }
  }
  
  &__floor-distance {
    display: flex;
    align-items: center;
    border: 0.0625rem solid rgb($background-grey, 0.2);
    border-radius: 0.25rem;
    overflow: hidden;
    object-fit: contain;
    margin-top: 0.4rem;

    &-label {
      @include mobile-p2-body-medium;
      flex: 1;
      background-color: $secondary-color-cloud;
      color: $secondary-color-slate;
      text-align: center;
      padding: 0.225rem;
      border: 0.0625rem solid rgb($background-grey, 0.2);
    }

    &-input {
      margin: 0;
      flex: 1;
      border: none;
      outline: none;
      text-align: center;
      color: $secondary-color-slate;
      border-radius: 0;
    }
  }
}

@media print {
  @page {
    size: A3 landscape;
    margin: 0; 
  }

  body {
    display: flex;
    align-items: center; 
    height: 100vh; 
    text-align: center;
  }

  button {
    display: none; 
  }
}
