@use "./Styles/mixins" as *;
@use "./Styles/variables" as *;
@use "./Styles/fonts" as *;

#app__body {
  padding: 0 1.5rem;

  @include tablet { 
    padding: 0 2rem;
  }

  @include desktop { 
    margin: auto;
    padding: 0 8.125rem;
  }
}

.app__container {
  position: relative;
  top: -4rem;
  background-color: $primary-color-white;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba($secondary-color-slate, 0.1);
  overflow: hidden;
  @include tablet{
    top: -5.875rem;
  }
}

body {
  background-color: $background-grey;
  font-family: "Titillium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3,
a,
button {
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  color: $secondary-color-slate;
  margin-block-end: 0.5rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  &.small {
    font-size: 0.6875rem;
    line-height: 1rem;

    @include tablet {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }

  &.large {
    font-size: 0.9375rem;
    line-height: 1.625rem;

    @include tablet {
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }
}

ul {
  list-style: none;
  padding-left: 0;
  color: $primary-color-instock-black;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: 1.25rem;
  height: 2.25rem;
  padding: 0 1rem;
  width: 100%;

  &.primary-button {
    background-color: $primary-color-instock-indigo-blue;
    color: white;
  }

  @include tablet {
    height: 2.375rem;
  }
}

input {
  border-radius: 1.25rem;
  padding: 0.5rem;
  margin-block-end: 1rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $secondary-color-cloud;
  height: 2.25rem;

  &.input__with-icon {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 2.5rem;
    padding-left: 1rem;
    background-position-x: calc(100% - 1rem);
  }

  &:active {
    border: 1px solid $primary-color-instock-indigo-blue;
  }
}

