@use "./styles/mixins" as *;
@use "./styles/variables" as *;
@use "./styles/fonts" as *;


// .app__container {
//   width: 100%;
//   height: 100%;
//   box-sizing: border-box;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }

body {
  font-family: "Titillium";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  font-size: 1.75rem;
  line-height: 2.25rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

h3,
a,
button {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-bottom: .2rem;
  margin-top:-.5rem;

  @include tablet {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

h4 {
  font-size: 11px;
  line-height: 16px;
  font-weight: bold;
  color: $secondary-color-slate;
  margin-block-end: 0.5rem;

  @include tablet {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}

p {
  @include mobile-p3-body-small;
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  color: $primary-color-inst-burnt-orange;
  list-Style-Type: disc;
  margin-Left: 1.5rem;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border: .0625rem solid rgb($background-grey, .2);
  border-radius: .25rem;
  height: 2.25rem;
  margin: .4rem;
  width: 95%;
  @include mobile-p2-body-medium;
}

input {
  border-radius: 1.25rem;
  padding: 0.2rem;
  margin-bottom: .2rem;
  width: 100%;
  box-sizing: border-box;
  border: .0625rem solid rgb($background-grey, .2);
  border-radius: .25rem;
  @include mobile-p3-body-small;

  &:active {
    border: 1px solid $primary-color-inst-orange;
  }
      &:focus {
        background-color:rgba($secondary-color-cloud, 0.3);
        border: .0825rem solid $primary-color-inst-burnt-orange;
        outline: none;
      }
}

#border{
  border: .0625rem solid rgb($background-grey, .2);
  padding:.6rem;
  margin: .4rem;
}


